.container-table {
  max-width: 100%;
  margin: 10px auto;
}

.table-main {
  border-spacing: 0;
  border: 1px solid #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin: 15px auto 0;
  max-width: 960px;
  width: 100%;
}

.table-header>th {
  background-color: #e4e4e4;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-weight: 500;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
}

.table-content>tr>td,
.table-content>tr>th {
  border-right: 1px solid #ccc;
  padding: 10px;
}

.table-content>tr>th {
  border-color: #ccc;
  text-align: center;
  vertical-align: middle;
}

.table-content>tr>td {
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}

.table-content>tr>td:nth-of-type(2) {
  width: 20%;
}

.table-content>tr:last-of-type>td {
  border-bottom: 0;
}

.totals {
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: 800;
  margin: 15px auto;
  max-width: 250px;
  padding: 5px;
  text-align: center;
}

.totals>span {
  margin: 5px 0;
}