body {
    background-color: #313131;
}

.box {
    margin: 20px auto;
    width: 100%;
}

.showroom-search {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    max-width: 410px;
}

#carMake, #carModel {
    font-size: 1rem;
    height: auto;
    margin: 10px auto;
    max-width: 200px;
    padding: 5px 3px;
}

.showroom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car-container {
    background-color: #646464;
    border: 1px solid #a81900;
    margin: 10px;
    max-width: 465px;
}

.car-header {
    text-align: center;
}

.car-title {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 15px 0;
}

.car-price {
    background-color: #a81900;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0;
    padding: 7px 0;
}

.car-monthly-price {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
    width: 100%;
}

.car-img {
    border-bottom: 1px solid #a81900;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.showroom-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.showroom-buttons>a {
    background-color: #a81900;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 5px;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s linear;
    width: 47%;
}

.showroom-buttons>a:hover {
    background-color: #020202;
    cursor: pointer;
}