@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.container-table,
.container-calculus {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
}

.table-main {
  border-spacing: 0;
  border: 1px solid #ccc;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 15px auto 0;
  max-width: 1200px;
  width: 100%;
}

.table-header th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 8px 0;
  text-align: center;
}

.table-header th,
.table-content td {
  font-size: 14px;
}

.table-content>tr>td,
.table-content>tr>th {
  border-right: 1px solid #ccc;
  padding: 0;
}

.table-content>tr>th {
  vertical-align: middle;
}

.table-content>tr>td {
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  width: 15%;
}

.food-image {
  height: 160px;
}

.product-img {
  display: block;
  margin: 0 auto;
  max-width: 90px;
}

.table-content-calculus>tr>td {
  padding: 7px 0;
}