@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.container-table,
.container-calculus {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
}

.table-main {
  border-spacing: 0;
  border: 1px solid #ccc;
  margin: 30px auto 0;
  max-width: 1200px;
  width: 100%;
}

.table-header th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
}

.table-header th,
.table-content td {
  font-size: 14px;
}

.table-content>tr>td,
.table-content>tr>th {
  border-right: 1px solid #ccc;
  padding: 0;
}

.table-content>tr>th {
  vertical-align: middle;
}

.table-content>tr>td {
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  width: 15%;
}

.food-image {
  height: 130px;
}

.product-img {
  display: block;
  margin: 0 auto;
  max-width: 90px;
}

.table-header th,
.table-content-calculus td {
  padding: 10px 0;
}