@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;400;600;700&display=swap');

body {
    background: #00a5c9;
    margin: 0;
    padding: 0;
}

.container .title {
    color: #fff;
    font-family: Tahoma;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 45px 0;
    text-align: center;
    text-transform: uppercase;
}

.main-container {
    margin: 20px auto 0;
    max-width: 615px;
    width: 100%;
}

.main-container .type-field {
    display: flex;
}

.main-container .add-button {
    background-color: #035917;
    border-color: transparent;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 0;
    width: 85px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container #field {
    border: 1px solid #a29e9e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    outline: 0;
    width: 100%;
}

.list-container .list-main {
    color: #fff;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 25px;
}

.list-container .list-main li {
    background-color: #a7e3f2;
    border: 1px solid #19576c;
    border-radius: 5px;
    box-shadow: 1px -1px 24px #19576c;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 18px 0;
    padding: 14px;
    position: relative;
    width: 100%;
}

.list-container .list-main li:first-of-type {
    display: none;
}

.list-container .list-main li .close-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 21px;
    font-weight: 700;
    padding: 0 6px;
    position: relative;
    right: -8px;
    top: -5px;
}