body {
    margin: 0;
    padding: 0;
}

body #main {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0 0;
}

body #main .tube-container {
    margin: 0 auto;
    max-width: 480px;
}

body #main .tube-container .tube-table {
    border: 1px solid #cecece;
    font-size: 14px;
    width: 480px;
}

body #main .tube-container .tube-table th {
    text-align: left;
}

body #main .tube-container .tube-table th,
body #main .tube-container .tube-table td {
    border: 1px solid #cecece;
    padding: 15px;
}

body #main .tube-container .tube-table .tube-status {
    font-weight: bold;
}

.green {
    color: rgb(0, 76, 0);
}

.orange {
    color: rgb(254, 167, 6);
}

.red {
    color: rgb(179, 0, 0);
}