@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

body #main {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin: 50px 0 0;
}

.tube-container {
    margin: 0 auto;
    max-width: 500px;
}

.tube-container .tube-table {
    border: 1px solid #cecece;
    font-size: 15px;
    width: 480px;
}

.tube-container .tube-table th {
    text-align: left;
}

.tube-container .tube-table th,
.tube-container .tube-table td {
    border: 1px solid #cecece;
    padding: 12px;
}

.tube-container .tube-table .tube-lines {
    font-weight: 400;
}

.tube-container .tube-table .tube-status {
    font-weight: 700;
}

.tube-status--good {
    color: #006700;
}

.tube-status--part-suspended {
    color: #f9a304;
}

.tube-status--closed {
    color: #f30000;
}