@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

body #main {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 480px;
}

#chooseLineName, #chooseLineStatus {
    border: 1px solid #333;
    height: 30px;
    width: 200px;
}

.tube-options {
    margin: 40px 0;
}

.tube-container {
    display: block;
    margin: 20px auto 0;
    width: 480px;
}

.tube-container .tube-table {
    border: 1px solid #cecece;
    font-size: 15px;
    width: 480px;
}

.tube-container .tube-table th {
    text-align: left;
}

.tube-container .tube-table th,
.tube-container .tube-table td {
    border: 1px solid #cecece;
    padding: 12px;
}

.tube-table .tube-lines {
    font-weight: 400;
}

.tube-table .tube-status {
    font-weight: 700;
}

.tube-status--good {
    color: #006300;
}

.tube-status--part-suspended {
    color: #d78c00;
}

.tube-status--closed {
    color: #ae0000;
}