body {
    background: url('images/actors/background.jpg') no-repeat fixed;
    margin: 0;
    padding: 0;

    .box {
        margin: 0 auto;
        max-width: 650px;

        &__filter {
            display: inherit;
            margin: 25px auto;
            padding: 4px;
            width: 220px;

            &:focus {
                outline: 0;
            }
        }

        .article {
            background-color: #fff;
            color: #333;
            display: flex;
            margin-bottom: 25px;
            padding: 20px;

            @media screen and (max-width: 719px) {
                flex-direction: column;
            }

            &__content {
                padding-right: 20px;
            }

            &__close {
                cursor: pointer;
                right: 20px;
                top: 8px;
            }

            &__heading {
                margin: 0 auto 15px;

                &-sub {
                    font-size: 16px;
                    margin-bottom: 0;

                    &:nth-of-type(1) {
                        text-decoration: underline;
                        text-transform: uppercase;
                    }

                    &:nth-of-type(2) {
                        font-style: italic;
                    }
                }
            }

            &__text {
                font-size: 14px;
                line-height: 150%;
                margin: 20px 0 0;
            }

            &__image {
                img {
                    border-radius: 4px;
                    max-width: 250px;
                }
            }
        }
    }
}