.content-showroom {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px; }
  .content-showroom .card {
    border: 1px solid #ccc;
    width: 350px; }
    .content-showroom .card__header {
      font-weight: bold; }
    .content-showroom .card__body img {
      max-width: 300px; }
    .content-showroom .card__buttons {
      display: flex;
      justify-content: space-around; }
      .content-showroom .card__buttons a {
        border: 2px solid #ccc;
        border-radius: 12px;
        display: inline-block;
        padding: 5px; }
