@import url('https://fonts.googleapis.com/css?family=Cabin');

#root {
    align-items: space-between;
    display: flex;
    font-family: 'Cabin', sans-serif;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: .5rem auto 0;
    max-width: 1250px;

    .card {
        margin-top: 20px;

        &__header {
            align-items: flex-start;
            color: #111;
            display: flex;
            font-weight: normal;
            height: 55px;
            justify-content: space-between;
            padding: 20px 20px 0;

            div {
                margin-bottom: 5px;
                text-align: center;
            }

            .card__name {
                font-size: 16px;
                width: 290px;
            }
            .card__price {
                font-size: 18px;
                font-weight: bold;
            }
        }

        &__body {
            img {
                display: block;
                margin: 0 auto;
                width: 100%;
            }
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            margin: 20px auto;
            width: 92%;

            a {
                border: 1px solid #fb8c00;
                border-radius: 8px;
                color: #fb8c00;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                padding: 8px 15px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}