#root {
    display: flex;
    font-family: 'Verdana', sans-serif;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;

    .card {
        border: 1px solid #ccc;
        width: 400px;

        &__header {
            color: #111;
            display: flex;
            font-size: 15px;
            font-weight: bold;
            justify-content: space-around;
            line-height: 55px;
            height: 55px;
        }

        &__body {
            img {
                display: block;
                margin: 0 auto;
                width: 380px;
            }
        }

        &__buttons {
            display: flex;
            justify-content: space-around;
            margin: 20px 0;

            a {
                border: 1px solid #fb8c00;
                border-radius: 8px;
                color: #fb8c00;
                display: inline-block;
                font-size: 13px;
                padding: 10px 15px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}