#root {
    display: flex;
    font-family: 'Verdana', sans-serif;
    justify-content: space-between;
    margin: 4rem auto 0;
    max-width: 1250px;

    .card {

        &__header {
            color: #111;
            display: flex;
            font-weight: normal;
            height: 65px;
            justify-content: space-around;
            padding: 20px 10px;

            span {
                font-size: 15px;
                width: 80%;
            }
            .card__price {
                font-size: 16px;
                font-weight: bold;
            }
        }

        &__body {
            img {
                display: block;
                margin: 0 auto;
                width: 100%;
            }
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            margin: 20px auto;
            width: 95%;

            a {
                border: 2px solid #fb8c00;
                border-radius: 16px;
                color: #fb8c00;
                display: inline-block;
                font-size: 13px;
                font-weight: bold;
                padding: 8px 12px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}