@import url("https://fonts.googleapis.com/css?family=Cabin");

body {
  background-color: #fff;

  .main {
    font-family: 'Cabin', sans-serif;
    margin: .5rem auto 0;
    max-width: 1200px;
  }

  .filter-search {
    border: 1px solid #ccc;
    color: #111;
    display: block;
    margin: 25px auto 20px;
    padding-left: 4px;

    &:focus {
      border: 1px solid #ccc;
      outline: 0;
    }
  }

  .showroom-container {
    align-items: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      background-color: #fff;
      border: 1px solid #ddd;
      box-shadow: 3px 3px 12px #ccc;
      margin-top: 20px;
      max-width: 365px;
      width: 100%;
    }

    .card__header {
      align-items: flex-start;
      display: flex;
      font-weight: normal;
      height: 85px;
      justify-content: space-between;
      padding: 0 20px;

      .card__name,
      .card__price {
        text-align: left;
      }

      .card__name {
        color: #fb8c00;
        font-size: 16px;
        max-width: 250px;
      }

      .card__price {
        color: #111;
        font-size: 21px;
        font-weight: bold;
      }
    }

    .card__body .card__image {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    .card__buttons {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      padding: 20px 0;
      width: 95.5%;
    }

    .card__link {
      border: 1px solid #fb8c00;
      border-radius: 21px;
      color: #fb8c00;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 7px 12px;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .4s linear;

      &:hover {
        background-color: #fb8c00;
        color: #fff;
      }
    }

    .total-cars {
      display: block;
      margin-top: 25px;
    }
  }
}