.table {
    border: 1px solid #222;
    border-spacing: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 15px auto 0;
    max-width: 900px;
    width: 100%;
}

.table-header {
    text-align: center;
}

.table-header>th {
    background-color: #eee;
    border-bottom: 1px solid #222;
    offset: 0;
    padding: 7px 20px 7px 0;
    text-transform: uppercase;
}

.table-header>th:nth-of-type(1),
.table-content>tr>td:nth-of-type(1) {
    border-right: 1px solid #222;
}

.table-content>tr>td {
    border-bottom: 1px solid #222;
    padding: 7px 14px;
}

.table-content>tr:last-of-type>td {
    border-bottom: 0;
}

.total-destinations {
    margin: 10px auto;
    max-width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}