#root {
  display: flex;
  font-family: 'Verdana', sans-serif;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px; }
  #root .card {
    border: 1px solid #ccc;
    width: 400px; }
    #root .card__header {
      color: #111;
      display: flex;
      font-size: 15px;
      font-weight: bold;
      justify-content: space-around;
      line-height: 55px;
      height: 55px; }
    #root .card__body img {
      display: block;
      margin: 0 auto;
      width: 380px; }
    #root .card__buttons {
      display: flex;
      justify-content: space-around;
      margin: 20px 0; }
      #root .card__buttons a {
        border: 1px solid #fb8c00;
        border-radius: 8px;
        color: #fb8c00;
        display: inline-block;
        font-size: 13px;
        padding: 10px 15px;
        text-decoration: none;
        text-transform: uppercase; }
