@import url("https://fonts.googleapis.com/css?family=Cabin");
body {
  background-color: #f9f6f6; }

.main {
  font-family: 'Cabin', sans-serif;
  margin: .5rem auto 0;
  max-width: 1200px; }

.showroom-container {
  align-items: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .showroom-container .card {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 12px #ccc;
    margin-top: 20px;
    max-width: 385px; }
    .showroom-container .card__header {
      align-items: flex-start;
      display: flex;
      font-weight: normal;
      justify-content: space-between;
      padding: 20px; }
      .showroom-container .card__header .card__name,
      .showroom-container .card__header .card__price {
        text-align: left; }
      .showroom-container .card__header .card__name {
        color: #fb8c00;
        font-size: 16px;
        max-width: 280px; }
      .showroom-container .card__header .card__price {
        color: #111;
        font-size: 21px;
        font-weight: bold; }
    .showroom-container .card__body .card__image {
      display: block;
      margin: 0 auto;
      width: 100%; }
    .showroom-container .card__buttons {
      display: flex;
      justify-content: space-between;
      margin: 25px auto;
      width: 92%; }
      .showroom-container .card__buttons .card__link {
        border: 1px solid #fb8c00;
        border-radius: 25px;
        color: #fb8c00;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        padding: 9px 18px;
        text-decoration: none;
        text-transform: uppercase; }
  .showroom-container .total-cars {
    margin-top: 20px; }
